body {
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style:none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

header {
    background-color: #084C61;
}


a {
    text-decoration: none;
    color: #fff;
}

.header-title {
    color: #fff;
    font-size: 14pt;
}

.page-title {
    color: #DB504A;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    justify-content: space-around;
}

.contact-title {
    font-weight: 600;
}

.contact-title, .contact-content {
    font-size: 14pt;
    color: #777;
}

.contact-content > a {
    color: #777;
}

.formulario {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.formulario > label {
    margin-bottom: 5px;
    font-size: 14pt;
    color: #777;
}

.formulario > input {
    margin-bottom: 20px;
}