body {
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style:none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

header {
    background-color: rgb(8, 78, 99);
}


a {
    text-decoration: none;
    color: #fff;
}

.header-title {
    color: #fff;
    font-size: 14pt;
}

.page-title {
    color: #DB504A;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    justify-content: space-around;
}

.contact-title {
    font-weight: 600;
}

.contact-title, .contact-content {
    font-size: 14pt;
    color: #777;
}

.contact-content > a {
    color: #777;
}

.formulario {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.formulario > label {
    margin-bottom: 5px;
    font-size: 14pt;
    color: #777;
}

.formulario > input {
    margin-bottom: 20px;
}

.main-home {
    background-image: url('../assets/annie-spratt-FSFfEQkd1sc-unsplash.jpg');
    height: 100vh;
    overflow: hidden;
    color: rgb(20, 20, 20);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-color{
    width: 100%;
    background: rgba(8, 78, 99,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-color > h1 {
    font-size: 80px;
    color: #fff;
    margin: 0;
}

.divider {
    width: 50%;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

.img-wrapper {
    width: 150px;
    height: 150px;
    border: solid 2px #777;
    border-radius: 50%;
}

